%h1 WEX Demo
%hr
%h4= "Domain: #{@domain}" if @domain.present?
%h4= "KEY: #{@key}" if @key.present?
%h4= "SECRET: #{@secret}" if @secret.present?
%hr
.container-fluid
  .row
    %h3 Demo Pages
    .col-md-2
      %h4=link_to "Public API", pages_public_api_path
    
    .col-md-2
      %h4= link_to "Trade API", pages_trade_api_path

    .col-md-2
      %h4= link_to "Charts", pages_charts_path

  .row
    %h3 Working Pages
    .col-md-2
      %h4= link_to "Pairs", pages_pairs_path

    .col-md-2
      %h4= link_to "Trades History", trades_index_path

    .col-md-2
      %h4= link_to "OHLC", trades_ohlc_path

    .col-md-2
      %h4= link_to "Trades Charts", trades_charts_path

 
    .col-md-2
      %h4= link_to "Trades Data", pages_trades_data_path

    .col-md-2
      %h4= link_to "Depth Data", pages_depth_data_path
