%h4=link_to "Home", root_path
%hr

%h1 OHLC Chart
.container
  .row
    .col-md-2
      %h4 Timeframe:
    .col-md-1
      %h4= Time.at(@timeframe).strftime("%H:%M")
    .col-md-1
      %h4= Time.at(@timeframe + 1800).strftime("%H:%M")
  %br
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= 'Open'
        %th= 'Close'
        %th= 'High'
        %th= 'Low'
        %th= 'Amount'

    %tbody
      %tr
        %td= "#{@open.price}"
        %td= "#{@close.price}"
        %td= "#{@high.price}"
        %td= "#{@low.price}"
        %td= "#{@amount}"
      %tr
        %td= "#{Time.at(@open.timestamp)}"
        %td= "#{Time.at(@close.timestamp)}"
        %td= "#{Time.at(@high.timestamp)}"
        %td= "#{Time.at(@high.timestamp)}"
        %td= ""

