%h4=link_to "Home", root_path
%hr

%h1 OHLC Chart
%h3= "Pair: #{Pair.find(@pair_id).name}"
.container
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= 'Time Frame (local time)'
        %th= 'Open'
        %th= 'Close'
        %th= 'High'
        %th= 'Low'
        %th= 'Amount'
        %th= 'Trades total'

    %tbody
      - @candles.to_a.reverse.to_h.each do |candle|
        %tr
          %td= "#{date_from_timestamp candle.first}"
          %td= "#{candle.last[0]}"
          %td= "#{candle.last[1]}"
          %td= "#{candle.last[2]}"
          %td= "#{candle.last[3]}"
          %td= "#{candle.last[4]}"
          %td= "#{candle.last[5]}"

%h3 Number of Trades
= line_chart @counts, label: "Trades", xtitle: "Time (last 24 h)", ytitle: "Trades per Candle", colors: ["red", "green"]

%h3 Amount - Bars
= column_chart @amounts_bar, label: "Trades"

%h3 Amount- Line
= line_chart @amounts, label: "Trades"
